body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login-box {
   margin-bottom: auto;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -40%);
    box-sizing: border-box;
    padding: 70px 30px;

  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: gray;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }

  header{
	display: flex;
	min-height: 70px;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	height: 100px;
	background-color: RGBA(57,56,56,0.9);
	box-shadow: 0 0 10px #C70000;
	border-radius: 10px; 

}
a{
	text-decoration: none;
	color: black;

}

.logo{
	display: flex;
	margin-top: -16px; 
}

nav a{
	font-weight: 600;
	padding-right: 10px;
 }

 nav a:hover{
 	color: white;
 }

 @media (max-width:700px){
 	header{
 		flex-direction: column;
 	}

 	nav{
 		padding: 10px 0px;
 	}
 }

 section{
 	display: flex;
 	width: 1200px;
 	height: 430px;
 }

 section img{
 	width: 0px;
 	flex-grow: 1;
 	object-fit: cover;
 	opacity: .8;

 }

 section img:hover{
 	cursor: crosshair;
 	width: 300px;
 	opacity: 1;
 	filter: contrast(120%);
 }
